<%= form_for(ripple) do |f| %>
  <% if ripple.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ripple.errors.count, "error") %> prohibited this ripple from being saved:</h2>

      <ul>
      <% ripple.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>State What's On Your Mind</h1>

  <div class="field">
    <%= f.label "Your name or alias (required)" %>
    <%= f.text_field :name, :size => 50 %>
  </div>

  <div class="field">
    <%= f.label "A website, yours or otherwise (optional)" %>
    <%= f.text_field :url, :size => 50 %>
  </div>

  <div class="field">
    <%= f.label "Your message/note/quote/rant (required)" %>
    <%= f.text_area :message, rows: 20, cols:65 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
