<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Message</th>
      <th>Posted</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ripples.each do |ripple| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
      <% if ripple.url.nil? or ripple.url == ""%>
        <td><%= ripple.name %></td>
      <% else %>
        <td><%= link_to ripple.name, ripple.url %></td>
      <% end  %>

        <td><%= truncate(ripple.message, length: 100) %></td>
        <td><%= ripple.created_at %></td>
        <td><%= link_to 'Show', ripple %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Newest', ripples_path %>
<%= link_to 'Previous 10 Ripples', prev_ripples_path %>
<%= link_to 'Next 10 Ripples', next_ripples_path %>
<%= link_to 'Oldest', oldest_ripples_path %> <br><br>
<%= link_to 'New Ripple', new_ripple_path %>
