<p id="notice"><%= notice %></p>

  <strong>
    <% if @ripple.url.nil? %>
      <%= @ripple.name %> said:
    <% else %>
      <%= link_to @ripple.name, @ripple.url %> said:
    <% end %>
  </strong>




<p>
  <strong>Message:</strong>
  <%= @ripple.message %>
</p>

<%= link_to 'Back', ripples_path %>
