<!DOCTYPE html>
<html>
  <head>
    <title>Consciousmess</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <br>
  </head>
  <div id="header">
    <br>
    <h1 class="title">CONSCIOUS/mess</h1>
    <h2 class="title">...a stream of anonymous online ramblings</h2>
  </div>
  <body>
    <%= yield %>
  </body>
</html>
